<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>Homepage</title>
  </head>
  <body>
    <h1><%= title %></h1>

<!-- index.ejs -->
    <% messages.forEach((element) => { %>
        <%=element.user%>
       : <%= element.text %>
        <br>
    <% }) %>
<%- include('form') %>
  </body>
</html>
